Milestones/*.log
Milestones/*.aux
Milestones/*.synctex.gz
Milestones/M?.pdf
Milestones/M?.toc
Milestones/CSSE374/*.log
Milestones/CSSE374/*.aux
Milestones/CSSE374/*.synctex.gz
Milestones/CSSE374/M?.pdf
Milestones/CSSE374/M?.toc
*/.DS_Store

